/* Reset default browser styles */
body, ul, li, p {
    margin: 0;
    padding: 0;
}

/* Container styles */
.container {
    padding: 20px;
}

/* Homes list styles */
/* Updated CSS */
#homesList {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    position: relative; /* Set the parent container position to relative */
  }
  
  .home-item {
    position: relative; /* Set the position of each home item to relative */
  }
  
  .favorite-btn {
    position: absolute; /* Set the position of the heart icon to absolute */
    top: 10px; /* Adjust top position as needed */
    right: 10px; /* Adjust right position as needed */
    z-index: 1; /* Ensure the heart icon is above the home image */
  }
  

#homesList li {
    background-color: #F7F7F7;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#homesList li img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.home-details {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}

/* Heart icons styles */
.heart-icons {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .heart-icons i {
    margin-left: 5px;
  }
  

/* Navigation bar styles */
.navbar {
    background-color: #005A8D !important;
    color: #fff;
}

.nav-link {
    color: #fff !important;
    font-weight: bold;
}

.nav-link:hover {
    text-decoration: none;
}

/* Search/filter section styles */
.search-section {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.search-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.search-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-button {
    width: 100%;
    padding: 10px;
    background-color: #005a8d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #004477;
}

.search-parameters {
    display: flex;
    justify-content: space-between;
}

.search-parameter {
    width: 30%;
}

.parameter-values {
    display: flex;
    flex-direction: column;
}

.parameter-value {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.parameter-value label {
    margin-right: 10px;
}
